In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
     --------------------------------------- 10.0/10.0 MB 92.1 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\hafsa\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hafsa\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hafsa\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\hafsa\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.5

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000287B6982248>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/b2/56/f886ed6f1777ffa9d54c6e80231b69db8a1f52dcc33f5967b06a105dcfe0/pandas-1.3.5-cp37-cp37m-win_amd64.whl
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x00000287B6982948>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/b2/56/f886ed6f1777ffa9d54c6e80231b69db8a1f52dcc33f5967b06a105dcfe0/pandas-1.3.5-cp37-cp37m-win_amd64.whl

In [4]:
import pandas as pd

In [5]:
data=[1,2,3,45]

In [6]:
data

[1, 2, 3, 45]

In [7]:
type(data)

list

In [8]:
#create a series from list
s=pd.Series(data)

In [9]:
s

0     1
1     2
2     3
3    45
dtype: int64

In [10]:
type(s)

pandas.core.series.Series

In [11]:
#create a dataFrame from series
df=pd.DataFrame(s, columns=['num'])
df

   num
0    1
1    2
2    3
3   45

In [12]:
#create a series for 2 int columns
data = [[1,2],[3,4],[5,8]]
data

[[1, 2], [3, 4], [5, 8]]

In [13]:
#create a dataFrame from list and remane the columns
df = pd.DataFrame(data, columns=['num1','num2'])

In [14]:
df

   num1  num2
0     1     2
1     3     4
2     5     8

In [15]:
#Create a Series from the DatFrame
s=df[['num1','num2']]
print(s)

   num1  num2
0     1     2
1     3     4
2     5     8

# Dictionary to Series and DataFrame

In [18]:
# Create a Dict

data = {
    'name':["Mili","Jim","Simi"],
    'age':[25,24,27],
    'city':["Dhaka","Jessore","Khulna"]
}
data

{'name': ['Mili', 'Jim', 'Simi'],
 'age': [25, 24, 27],
 'city': ['Dhaka', 'Jessore', 'Khulna']}

In [19]:
#Create a Series from the dict
name_Series = pd.Series(data['name'], name='Name')
name_Series

0    Mili
1     Jim
2    Simi
Name: Name, dtype: object

In [20]:
df = pd.DataFrame(data)
df

   name  age     city
0  Mili   25    Dhaka
1   Jim   24  Jessore
2  Simi   27   Khulna

In [21]:
age_Series = df['age']
age_Series

0    25
1    24
2    27
Name: age, dtype: int64

# Set to Series and DataFrame

In [24]:
s1 = {1,2,3,4,5,6,7}
s1

{1, 2, 3, 4, 5, 6, 7}

In [25]:
type(s1)

set

# Tuple to SEries and DataFrame